@import url(https://fonts.googleapis.com/css?family=Rubik:400,900);

body{
  margin: 0;
  padding: 0;
  background-color: lightblue;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  header{
    font-family: 'Rubik', sans-serif;
    padding: 10px;
    display: flex;
    flex-direction: row;
    background-color: lightpink;
    justify-content: center;
    gap: 20px;
    img{
      height:100px;
      width:100px;
    }
    h1{
      color: purple;
    }
  }
  main{
    display: flex;
    padding: 60px;
    width: auto;
    form{
      margin: auto;
      padding: 20px;
      background-color: lightpink;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      label{
        font-size: 1.5rem;
        font-weight: bold;
      }
      #title{
        margin: 10px;
      }
      #description{
        margin: 10px;
      }
      #submit{

        display: inline-block;
        outline: none;
        cursor: pointer;
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
        padding: 10px 20px;
        border: none;
        transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
        background: lightblue;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      }

    }
  }
  footer{
    background-color: lightpink;
    width: 100vw;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
}